<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{ .Site.Params.description }}">

    <link rel="alternate" type="application/rss+xml" title="Travis Jeffery's Blog Feed" href="https://travisjeffery.com/rss.xml">
    {{ if .IsHome }}
    <meta property="og:type" content="website">
    <meta property="og:title" content="Travis Jeffery's Homepage">
    {{ else }}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Summary }}">
    <meta property="article:published_time" content="{{ .Date.Format `2006-01-02T15:04:05Z07:00` }}">
    <meta property="article:modified_time" content="{{ .Date.Format `2006-01-02T15:04:05Z07:00` }}">
    {{ end }}
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="Travis Jeffery's Blog">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:site" content="@travisjeffery">
    {{ if .IsHome }}
    <meta name="twitter:text:title" content="Travis Jeffery's Homepage">
    {{ else }}
    <meta name="twitter:text:title" content="{{ .Title }}">
    {{ end }}
    <meta name="twitter:image" content="https://s.gravatar.com/avatar/3ee6c3893e75232ed43ed4e8e9a7cf39">
    <meta name="twitter:card" content="summary">

    <link href="/css/style.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/judy.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Code:400,700|Libre+Caslon+Text:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css" type="text/css" media="screen">
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-8462120-1', 'travisjeffery.com');
      ga('send', 'pageview');
    </script>
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
  </head>
  <body>
    <div class="container-fluid container">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
          {{ partial "header.html" . }}

          {{ block "main" . }}{{ end }}

          {{ partial "footer.html" . }}
        </div>
      </div>
    </div>
  </body>
</html>
