<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{ .Site.Params.description }}">

    <link rel="alternate" type="application/rss+xml" title="Travis Jeffery's Blog Feed" href="https://travisjeffery.com/rss.xml">
    {{ if .IsHome }}
    <meta property="og:type" content="website">
    <meta property="og:title" content="Travis Jeffery's Homepage">
    {{ else }}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Summary }}">
    <meta property="article:published_time" content="{{ .Date.Format `2006-01-02T15:04:05Z07:00` }}">
    <meta property="article:modified_time" content="{{ .Date.Format `2006-01-02T15:04:05Z07:00` }}">
    {{ end }}
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="Travis Jeffery's Blog">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:site" content="@travisjeffery">
    {{ if .IsHome }}
    <meta name="twitter:text:title" content="Travis Jeffery's Homepage">
    {{ else }}
    <meta name="twitter:text:title" content="{{ .Title }}">
    {{ end }}
    <meta name="twitter:image" content="https://s.gravatar.com/avatar/3ee6c3893e75232ed43ed4e8e9a7cf39">
    <meta name="twitter:card" content="summary">

    {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
    <link href="{{ $style.Permalink }}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/judy.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Code:400,700|Libre+Caslon+Text:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css" type="text/css" media="screen">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NJMB3TZ8ZN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NJMB3TZ8ZN');
    </script>
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
  </head>
  <body>
    <div class="container-fluid container">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
          {{ partial "header.html" . }}

          {{ block "main" . }}{{ end }}

          {{ partial "footer.html" . }}
        </div>
      </div>
    </div>
  </body>
</html>
