{{ define "main" }}
<main>
  {{ with .Content }}
  <div class="content">{{ . }}</div>

  <hr>
  {{ end }}

  <h3 class="section-header no-gutters col-xs-12"><span>{{ .Title }}:</span></h3>

  <section class="posts">
    <ul class="plain col-xs-12">
      {{ range .Pages }}
      <li>
        <span class="list-title col-xs-9"><strong>
            {{ if .Params.externalURL }}
            <a href="{{ .Params.externalURL }}" target="_blank" rel="noopener">{{ .Title }}</a>
            {{ else }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
        </strong></span>
        <span class="list-date col-xs-3 push-xs-left pull-xs-right">{{ .Date.Format "Jan 2, 2006" }}</span>
      </li>
      {{ end }}
    </ul>
  </section>

</main>
{{ end }}
