{{ define "main" }}
<article class="col-xs-12 no-gutters">
  <header>
    {{ if .Params.externalURL }}
    <h1 class="article-title"><a href="{{ .Params.externalURL }}" target="_blank" rel="noopener">{{ .Title }}</a></h1>
    {{ else }}
    <h1 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    {{ end }}
  </header>

  {{ .Content }}

</article>

<hr class="col-xs-12 no-gutters">

<footer id="post-footer" class="col-xs-12 no-gutters">
  <p>
    <span class="post-footer-item">Share <a href="https://twitter.com/share" class="twitter-share-button" data-via="travisjeffery" data-size="large">Tweet about this article</a></span>
    <span class="post-footer-item">Written {{ .Date.Format "Jan 2, 2006" }}</span>
    {{ if .Params.tags }}<span class="post-footer-item">Tags {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}<a href="/tags/{{ $tag }}">{{ $tag }}</a>{{ end }}</span>{{ end }}
    <span class="post-footer-item"><a href="/">Read more posts&#8230;</a></span>
  </p>
</footer>
{{ end }}
