<hr class="col-xs-12 no-gutters">

<footer class="footer col-xs-12 no-gutters left">
  <div class="col-xs-12 col-sm-4 pull-sm-left no-gutters">
    <a href="https://twitter.com/travisjeffery" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @travisjeffery</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div class="no-gutters col-xs-12">
      <a href="https://twitter.com/travisjeffery">Twitter</a>
    </div>
    <div class="no-gutters col-xs-12">
      <a href="https://github.com/travisjeffery">GitHub</a>
    </div>
    <div class="no-gutters col-xs-12">
      <a href="mailto:tj@travisjeffery.com">Email</a>
    </div>
    <div class="no-gutters col-xs-12">
      <a href="https://travisjeffery.com">Home page</a>
    </div>
  </div>

  <div class="subscribe col-xs-12 col-sm-8 no-gutters pull-sm-right">
    <p class="zero-margin"><strong>Delivered straight to your inbox.</strong> One email per post. No spam, ever.</p>

    <form action="https://travisjeffery.us4.list-manage.com/subscribe/post?u=1e3ff7d7791b26a8f60b9f16c&amp;id=322d3e68e8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate one-margin" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group">
	  <input placeholder="Your email address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
	<div id="mce-responses" class="clear">
	  <div class="response" id="mce-error-response" style="display:none"></div>
	  <div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1e3ff7d7791b26a8f60b9f16c_322d3e68e8" tabindex="-1" value=""></div>
        <p class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></p>
      </div>
      <p>
    </form>
  </div>
</footer>
