<hgroup id="header" class="col-xs-12 no-gutters clearfix">
  <img class="no-gutters col-xs-3 col-sm-1" src="https://s.gravatar.com/avatar/3ee6c3893e75232ed43ed4e8e9a7cf39?s=80" />

  <h1 class="logo no-gutters col-xs-4 col-sm-6">
    <a class="" href="/">travis jeffery</a>
  </h1>

  <div class="social no-gutters col-xs-6 col-sm-5 pull-right">
    <div class="no-gutters col-xs-12">
      <a href="/subscribe">Subscribe</a>
    </div>
    <div class="no-gutters col-xs-12">
      <a href="https://github.com/travisjeffery">GitHub</a>
    </div>
    <div class="no-gutters col-xs-12">
      <a href="https://twitter.com/travisjeffery">Twitter</a>
    </div>
  </div>
</hgroup>

<hr class="col-xs-12 no-gutters">
