<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Travis Jeffery">
  <link href="/css/style.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6124432/723002/css/fonts.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css" type="text/css" media="screen">  
  <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/judy.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
  <title>{{{title}}}</title>
</head>