<p>
  <strong>Subscribe to my mailing list to learn more about technology and business.</strong>

  <form action="//travisjeffery.us4.list-manage.com/subscribe/post?u=1e3ff7d7791b26a8f60b9f16c&amp;id=322d3e68e8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <fieldset class="form-group">
      <label class="sr-only" for="mce-EMAIL">Email Address</label>
	    <input placeholder="Email" type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL">
      <small class="text-muted">Your email will never be shared anyone else.</small>
    </fieldset>

    <input type="submit" value="Learn more about technology and business" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" />

	  <div id="mce-responses" class="clear">
		  <div class="response" id="mce-error-response" style="display:none"></div>
		  <div class="response" id="mce-success-response" style="display:none"></div>
	  </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1e3ff7d7791b26a8f60b9f16c_322d3e68e8" tabindex="-1" value=""></div>
  </form>
</p>
