<!DOCTYPE html>
<html lang="en">
    {{> head}}
    <body>
        <div class="container-fluid container">
            <div class="row">
                <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                    {{> header}}

                    <p>
                        Software maker and writer.
                    </p>

                    <hr>

                    <h3 class="section-header"><span class="on-the-web">on the web:</span></h3>

                    <ul class="plain col-xs-12 col-md-6">
                        <li><a class="js-judy" href="http://twitter.com/travisjeffery">twitter</a></li>
                        <li><a class="js-judy" href="http://github.com/travisjeffery">github</a></li>
                    </ul>

                    <ul class="plain col-xs-12 col-md-6">
                        <li><a class="js-judy" href="http://medium.com/@travisjeffery">medium</a></li>
                        <li><a id="email" class="js-judy" href="mailto:tj@travisjeffery.com">email</a></li>
                    </ul>

                    <div style="clear:both;"></div>

                    <p>
                        Want to reach me? Send me an <a href="mailto:tj@travisjeffery.com">email</a> or message me on <a href="https://twitter.com/travisjeffery">Twitter</a>.
                    </p>

                    <hr>

                    {{#each collections}}
                    {{#if metadata.homepage}}
                    <h3 class="section-header" id="tech-writing"><span style="background-color: {{metadata.color}}">{{metadata.name}}:</span></h3>

                    <ul class="plain col-xs-12">
                        {{#each this}}
                        <li>
                            <span class="list-title col-xs-9 pull-xs-left"><strong>
                                {{#if medium_link}}
                                <a target="_blank" href="{{medium_link}}">{{title}}</a>
                                {{else}}
                                <a href="{{path}}">{{title}}</a>
                                {{/if}}
                            </strong></span><span class="list-date col-xs-3 push-xs-left pull-xs-right">{{dateShort}}</span>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{/each}}

                    {{> footer}}
                </div>
            </div>
        </div>

    </body>
</html>
