<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  <div class="container-fluid container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        {{> header}}

        <hr>

        <p>I&#8217;m a programmer, designer, student, and <a target="_blank" href="http://stash.cool" alt="Stash">entreprenuer</a>.</p>

        <p>
          I&#8217;m working on <strong><a href="http://stash.cool">Stash</a></strong>, the personal finance mobile app that makes you a money-saving badass. Previously, I worked at <a href="http://segment.com">Segment</a> as one of the first engineers, during which time we scaled to over 50 billion requests a month, became one of the best placest to work, and earned millions in recurring revenue. Before that, I worked at <a href="http://basecamp.com">Basecamp</a> where I worked one-on-one with Jason Fried and Ryan Singer and prototyped new ideas, apps, and interface concepts.
        </p>

        <p><a href="https://github.com/travisjeffery">I hack on open source software nearly every day</a>. I believe that anything that can be open source, should be.</p>

        <p>I grew up driving tractors, milking cows, and running through corn fields with my yellow lab, Mindy. I now live in Toronto, Ontario, Canada.</p>

        <p>Would you like to get in touch with me? Please do! Feel free to send me an <a href="mailto:tj@travisjeffery.com">email</a> or message me on <a href="https://twitter.com/travisjeffery">Twitter</a>.</p>

        {{> mailinglist}}

        <hr>

        <h3 class="section-header"><span class="on-the-web">on the web:</span></h3>

        <ul class="plain col-xs-12 col-md-6">
          <li><a class="js-judy" href="http://twitter.com/travisjeffery">twitter good vibes</a></li>
          <li><a class="js-judy" href="http://github.com/travisjeffery">github code</a></li>
          <li><a class="js-judy" href="http://soundcloud.com/travisjeffery">soundcloud sounds</a></li>
          <li><a class="js-judy" href="http://medium.com/@travisjeffery">medium posts</a></li>
        </ul>

        <ul class="plain col-xs-12 col-md-6">
          <li><a id="email" class="js-judy" href="mailto:tj@travisjeffery.com">email real talk</a></li>
          <li><a class="js-judy" href="#tech-writing">biz and tech writing</a></li>
          <li><a class="js-judy" href="http://37signals.com/svn/writers/tj">posts on 37signals&#8217;s blog</a></li>
        </ul>

        <hr>

        <h3 class="section-header"><span class="open-source">open source projects i work on:</span></h3>

        <ul class="plain lotta-text">
          <li>
            <a class="js-judy" href="https://github.com/travisjeffery/timecop">timecop</a><span class="project-description"> is a gem providing &#8220;time travel&#8221; and &#8220;time freezing&#8221; capabilities, making it dead simple to test time-dependent code.</span>
          </li>

          <li><a class="js-judy" href="https://github.com/travisjeffery/ClangFormat-Xcode">TRVSClangFormat</a><span class="project-description">
            an Xcode plug-in to use Clang's format tools and consistently format your code.
          </span></li>

          <li>
            <a class="js-judy" href="https://github.com/visionmedia/mocha">mocha</a><span class="project-description"> is a simple, flexible, fun javascript test framework for node.js &amp; the browser. (BDD, TDD, QUnit styles via interfaces)</span>
          </li>

          <li>
            <a class="js-judy" href="https://github.com/travisjeffery/ecs-deploy">ecs-deploy</a><span class="project-description">
              CLI tool to easily deploy your ECS services. 
            </span>
          </li>

          <li>
            <a class="js-judy" href="https://github.com/travisjeffery/ecs-exec">ecs-exec</a><span class="project-description">
              CLI tool to run commands your ECS container instances.
            </span>
          </li>

          <li>
            <a class="js-judy" href="https://github.com/travisjeffery/go-bqloadbatcher">go-bqloadbatcher</a><span class="project-description">
              A BigQuery client to batch and load data with Go (Golang).
            </span>
          </li>

          <li>
            <a class="js-judy" href="http://github.com/velesin/jasmine-jquery">jasmine-jquery</a><span class="project-description">
              provides jQuery matchers and fixture loading for the Jasmine JavaScript testing framework.</span>
            </li>

            <li>
              <a class="js-judy" href="https://github.com/jtrupiano/rack-rewrite">rack-rewrite</a><span class="project-description">
                is a web server agnostic Rack Middleware for defining and applying rewrite rules.</span>
              </li>


              <li>
                <a class="js-judy" href="https://github.com/travisjeffery/trvseventsource">TRVSEventSource</a><span
                  class="project-description"> an ObjC server-sent
                  events EventSource client using NSURLSession.
                  </span> </li>

              <li><a class="js-judy"
                href="https://github.com/travisjeffery/TRVSMonitor">TRVSMonitor</a><span
                class="project-description"> an ObjC synchronization
                construct to make asynchronous testing simple.
                </span> </li>

            <li> <a class="js-judy"
              href="https://github.com/travisjeffery/">judy.js</a><span
              class="project-description"> is the JS lib that provides
              the sweet rainbow animates links on my site. <a
              href="https://github.com/travisjeffery/TRVSRainbowRoad">Here's</a>
              my iOS version too.  </span> </li>

            <li> <a class="js-judy"
              href="http://github.com/thoughtbot/shoulda-context">shoulda-context</a><span
              class="project-description"> is a Test::Unit context
              framework extracted from thoughtbot&#8217;s
              Shoulda.</span> </li>

              <li> <a class="js-judy"
                href="http://github.com/travisjeffery">more
                projects&#8230;</a> </li> </ul>

            <hr>

            <h3 class="section-header"><span class="work">work
            projects:</span></h3>

            <ul class="plain lotta-text"> <li> <a class="js-judy"
              href="https://stash.cool">Stash</a>- the personal
              finance tool that makes you a money-saving badass.
              </li>

              <li> <a class="js-judy"
                href="https://segment.com">Segment</a>- the customer
                data hub.  </li>

              <li> <a class="js-judy"
                href="https://itunes.apple.com/ca/app/basecamp-for-iphone-official/id599139477?mt=8">Basecamp
                for iPhone,</a> <a class="js-judy"
                href="https://itunes.apple.com/ca/app/basecamp-for-ipad-official/id898020776?mt=8">Basecamp
                for iPad,</a> <a class="js-judy"
                href="https://basecamp.com">Basecamp</a>- the project
                management tool.  </li> </ul>

            
            <hr>

            <!-- <h3 class="section-header"><span class="work">talks and
                 podcasts:</span></h3>

                 <ul class="plain col-xs-12">
                 <li>
                 <span
                 class="article-title col-xs-9 pull-xs-left"> <strong><a
                 target="_blank" href="link to
                 podcast">{{title}}</a></strong>
                 </span>
                 
                 <span
                 class="article-date col-xs-3 push-xs-left
                 pull-xs-right"> {{dateShort}} </span>
                 </li>
                 </ul>
                 
                 <hr> -->

            <h3 class="section-header" id="tech-writing"><span
            class="tech-writing">biz and tech writing:</span></h3>

            <ul class="plain col-xs-12"> {{#each collections.medium}}
              <li> <span class="article-title col-xs-9 pull-xs-left">
              <strong><a target="_blank"
              href="{{medium_link}}">{{title}}</a></strong> </span>
              <span class="article-date col-xs-3 push-xs-left
              pull-xs-right"> {{dateShort}} </span> </li> {{/each}}
              
              {{#each collections.articles}} <li> <span
              class="article-title col-xs-9 pull-xs-left"> <strong><a
              href="{{path}}">{{title}}</a></strong> </span> <span
              class="article-date col-xs-3 push-xs-left
              pull-xs-right"> {{dateShort}} </span> </li> {{/each}}
              </ul>

            {{> footer}} </div> </div> </div>

    </body> </html>
