{{ define "main" }}
<h3 class="section-header no-gutters col-xs-12"><span class="who">who:</span></h3>

<p class="col-xs-12 no-gutters">I authored <a href="https://pragprog.com/titles/tjgo/distributed-services-with-go/">Distributed Services with Go</a>. The book teaches you how to build distributed systems by walking you through building a real-world software project (a self-contained, persistent event-stream service) from start to finish. The book introduces distributed systems practically, explaining the pieces that make up a distributed system and showing how they fit together.</p>

<p class="col-xs-12 no-gutters">I build foundational infrastructure at early-stage companies. Currently at Oscilar as the first infrastructure engineer, building our risk decisioning platform. Previously, I was the first cloud hire at Confluent, where I built the backend and infrastructure powering Confluent Cloud. Before that, I was an early engineer at Segment working on backend and infrastructure, and earlier in my career worked as a prototyper at 37signals.</p>

<p class="col-xs-12 no-gutters">I learned to program through open-source, contributing to real-world projects and eventually creating and maintaining my own. I’ve continued that work throughout my career, and <a href="https://github.com/travisjeffery">my GitHub</a> reflects years of tools, libraries, and infrastructure projects I’ve contributed to or built.</p>

<p class="col-xs-12 no-gutters">
  Want to reach me? Send me an <a href="mailto:tj@travisjeffery.com">email</a> or message me on <a href="https://twitter.com/travisjeffery">Twitter</a>.
</p>

<div style="clear:both;"></div>

<hr>

<h3 class="section-header no-gutters col-xs-12" id="posts"><span style="background-color: pink">posts:</span></h3>

<ul class="plain col-xs-12">
  {{ range (where .Site.RegularPages "Type" "posts").ByDate.Reverse }}
  <li>
    <span class="list-title col-xs-9"><strong>
      {{ if .Params.externalURL }}
        <a href="{{ .Params.externalURL }}" target="_blank" rel="noopener">{{ .Title }}</a>
      {{ else }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    </strong></span>
    <span class="list-date col-xs-3 push-xs-left pull-xs-right">{{ .Date.Format "Jan 2, 2006" }}</span>
  </li>
  {{ end }}
</ul>

{{ end }}
