<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    <div class="container-fluid container">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
          {{> header}}

          <hr>

          <article>
            <header>
              <h2 class="article-title">{{{title}}}</h2>
            </header>

            {{{contents}}}

            <hr>

            <footer>
              <p>
                <a href="https://twitter.com/share" class="twitter-share-button"{count} data-via="travisjeffery" data-size="large">Tweet about this article</a> this post<br>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                Written: {{{dateLong}}}<br>
                Categories: {{{categories}}}
              </p>

              <p><a href="/#tech-writing">Read more posts &#8230;</a> <br></p>
            </footer>
          </article>

          {{> footer}}
        </div>
      </div>
    </div>
  </body>
</html>
