//colors
$blue: blue;
$color_pizazz_approx: darkorange;
$red: red;
$yellow: yellow;
$cyan_aqua: cyan;
$green: lime;
$pink_flamingo: #ff66ff;

//fonts
$font_1: Josefin Sans;
$font_2: Helvetica Neue;
$font_3: Helvetica;
$font_4: Arial;
$font_5: sans-serif;
$font_9: Fira Code;
$font_10: Menlo;
$font_11: Consolas;
$font_12: Courier New;
$font_13: monospace;

@import "bower_components/bootstrap/scss/bootstrap";

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

html {
    font-size: 20px;
}
body {
    font-family: $font_1, $font_2, $font_3, $font_4, $font_5 !important;
    font-weight: 300;
}
pre, code {
    font-size: .8rem;
    font-family: $font_9, $font_10, $font_11, $font_12, $font_13;
}
pre {
    white-space:pre-wrap;
}
a {
    color: $blue;
    text-decoration: none !important;
    border-bottom: 1px solid $blue;
    &.js-judy {
	font-weight: bold;
    }
}
p {
    margin-bottom: 1em;
}

.half-margin-bottom {
    margin-bottom: .5em;
}

.one-margin-bottom {
    margin-bottom: 1em;
}

.three-quarter-margin-bottom {
    margin-bottom: .75em;
}

.one-and-half-margin-bottom {
    margin-bottom: 1.5em;
}

ul {
    list-style-type: none;
    margin-bottom: .5em;
    &.plain {
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
    }
    li {
	margin-bottom: .5em;
	.list-title {
	    padding-left: 0;
	    padding-right: 0;
	}
	.list-date {
	    text-align: right;
	    padding-right: 0;
	    padding-left: 0;
	}
	&:after {
	    content: " ";
	    display: block;
	    clear: both;
	}
    }
}
article {
    ul {
        li {
            &:before {
                content: "•";
                color: #373a3c;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }
        }
    }
}
hr {
    border-style: dashed;
    border-width: 1px 0 0;
    border-color: $color_pizazz_approx;
    clear: both;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
    height: 0;
    width: auto;
}
#header {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: .5em;
    font-size: 1.5rem;
    h1 {
	font-weight: bold;
    }
    a {
	color: $red;
	text-decoration: none;
	border: none;
	&:after {
	    content: "travis jeffery";
	    color: $blue;
	    position: absolute;
	    left: 3px;
	    top: 2px;
	    z-index: -1;
	}
    }
    .logo {
	font-size: 2.25rem;
	padding-left: 0;
    }
    .social {
	display: inline;
	text-align: right;
	padding-right: 0;
    }
}
.section-header {
    margin-bottom: .5em;
    font-size: 1.2rem;
    a {
	border: none;
    }
    .on-the-web {
	background-color: $yellow;
    }
    .open-source {
	background-color: $cyan_aqua;
    }
    .work {
	background-color: $green;
    }
    .tech-writing {
	background-color: $pink_flamingo;
    }
}

.footer {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.article-title {
    font-weight: 300;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1.5rem;
}

article {
    margin-bottom: 1.5em;

    h2, h3 {
        margin-top: 1em;
    }

    p {
        margin-bottom: 1em;
    }

    img {
        margin-bottom: 1em;
    }
}

article footer {
    margin-top: 1.5em;
}

.mc-field-group {
    padding: 0;
}
